<a href="https://colab.research.google.com/github/sairam6267/Data-Science-Notes/blob/main/loops_and_conditional_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Conditional statements
 * In python conditional statements are also called decision makers.It performs actions based on user input conditions and  most frequent conditional satement is IF satements.
  * if statement
  * if else statement
  * elif satement
  * Nested if statement.
  * Nested if elif statement.

__If statement__



```
# syntax:
if (condition):
    statements
```
* Example

In [ ]:
n=5
if n%2!=0:
  print("number is odd")

number is odd


__if else__
```
# syntax for if else
if (condition):
  statements..
else:
  statments...
```
* Example

In [ ]:
n=int(input("Enter the number: "))
if n%2!=0:
  print("number is odd")
else:
  print("number  is even")

Enter the number: 2
number  is even

__if elif__
```
# syntax for if elif
if (condition):
  statements..
elif(condition):
  statments...
```
* Example

In [ ]:
n=int(input("Enter the number: "))
if n>10:
  print("number is true")
elif 5<=n<=10:
  print("number is in between")

Enter the number: 5
number is in between

__if elif else__

```
# syntax for if elif else
if (condition):
  statements..
elif(condition):
  statements..
else:
  statements...
```
* Example

In [ ]:
n=int(input("Enter the number: "))
if n>10:
  print("number is true")
elif 5<=n<=10:
  print("number is in between")
else:
  print("number is false")

Enter the number: 1
number is false

__Nested if statements__


```
# syntax for nested if else
if (conditions):
    if(conditions):
        statements....
```
* Example

In [ ]:
# nested
n=int(input("Enter the number: "))
if n>20:
  if n!=20:
    print("entered correct")

Enter the number: 25
entered correct

__Nested if elif__


```
# syntax for nested if else
if (conditions):
    if(conditions):
        statements....
    else:
        statements....
```
* Example

In [ ]:
n=int(input("Enter the number: "))
if n<20:
  if n%2==0:
    print("number is even")
  elif n%2!=0:
    print("number is odd")
else:
  print("Take numbers below 20")

Enter the number: 21
Take numbers below 20

### Loops: 
  * loop is defined as continuous and it do the same work repeatedly untill the condition is false.In pyhton there are two loops
    * for loop
    * while loop

__Difference between for loop and while loop__

!["diff"](https://lh3.googleusercontent.com/proxy/frpGPdbWLN62vP_aQ14oZgH6Vrl1juyh5vXbZwCyaOmwW98nCOo8j5qpIIPDsyTgTzlRjl-bbq93SEOM4TZX35Wc0wDA55yf4kgHINY9w6uM2oxiOfoqFhwKzM9TITVey-VC5lZ918IT)

__For loop__



```
#SYNTAX
#for(initialization,condition,iteration):
  #Statements
```

!["for"](https://cdn.programiz.com/sites/tutorial2program/files/continue-statement-flowchart.jpg)

__Examples__

In [ ]:
# whole numbers in for loop
for i in range(0,10):
  print(i,"",end="")

0 1 2 3 4 5 6 7 8 9

In [ ]:
# multiplication table in for loop
for i in range(1,11):
  mul=2*i
  print(f"2 x {i}  = ",mul)

2 x 1  =  2
2 x 2  =  4
2 x 3  =  6
2 x 4  =  8
2 x 5  =  10
2 x 6  =  12
2 x 7  =  14
2 x 8  =  16
2 x 9  =  18
2 x 10  =  20

__While loop__



```
#syntax
initialization
 while (condition):
  #statements
  #iteration
```

!["while"](https://beginnersbook.com/wp-content/uploads/2017/09/while_loop_C.jpg)

In [ ]:
# print real numbers in while loop
i=0
while i<11:
  i=i+1
  print(i,"",end="")

1 2 3 4 5 6 7 8 9 10 11

In [ ]:
# multiplication table in while loop
i=1
while i<11:
  mul=i*2
  i=i+1
  print(f"2 X {i} =",a)

2 X 2 = 0
2 X 3 = 0
2 X 4 = 0
2 X 5 = 0
2 X 6 = 0
2 X 7 = 0
2 X 8 = 0
2 X 9 = 0
2 X 10 = 0
2 X 11 = 0