<a href="https://colab.research.google.com/github/sairam6267/Data-Science-Notes/blob/main/Pyhton_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON BASICS.
* Keywords and Identifiers
* Data Types.
* Python Operators
* Data structures

### __keywords and Identifiers__
* __Keywords__ are reserved and predefined words which are used to write for working the program.

In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
len(keyword.kwlist)

35

* __Identifiers__ are user-defined variables,functions,class....these are generally used to assign the expression or values to the variables.
 * Rules of identifiers.
  1. Identifiers are case sensitive.
  2. Identifiers can be combination of lower[a-z], upper case[A-Z],     numbers[0-9]or underscoe'-'
  3. It sould not start with any special characters[!,#....]
  4. It should not start with digits.
  5. Keywords should not be identifiers

In [3]:
# Identifiers are case sensitive
variable=5

In [4]:
Variable=10

In [5]:
# Identifiers can be combination of lower[a-z], upper case[A-Z],numbers[0-9] or underscoe'-' 
Varible="python"
VARIABLES='python'
variable_IDENTIFIERS='python'
varable_123='python'
VaRIABle='pyhton'

In [6]:
# It sould not should not contain or start with any special characters[!,#,@....]
# @variable='python'

In [7]:
# V@raible= 'python'

In [8]:
# It should not start with digits
# variable1= 'python'

In [9]:
#  Keywords should not be identifiers
# True ='python'

### __Data Types__
* Data types says which  kind of variable type , variable can store the value of data type and that are classified into:
1. Numeric type.
2. String type.
3. Boolean types.

1.__Numeric data type__
  * intergers (int)
    * Integers are the numbers which represents the positive or negative whole numbers
  * float (float)
    * float is the real number which represents with decimal numbers
  * complex 
    * complex numbers are real and imginary numbers.

__Examples__

In [10]:
# Number data types
Number_integer=5
type(Number_integer)

int

In [11]:
Number_float=5.5
type(Number_float)

float

In [12]:
Number_complex=1+3j
type(Number_complex)

complex

In [13]:
number="5"
type(number)

str

In [14]:
int(number)

5

2. __String Data Type__
* string (str) is collection of one or more characters it can be represented in single or double or triple inverted quoted ' '," ",''' '''.

__Example__

In [15]:
string_single='python for Data scienc1'
string_double="python for Data science2"
string_triple='''Python for Data science3.'''

In [16]:
print(string_double)
type(string_triple)

python for Data science2

str

__Boolean Data Types__
* Booleans (bool) are the comparision data types .it compares the variable data types frequently used in conditional statemens.Booleans are two types that are "True" and "False"

In [17]:
a=5
b=5
a==b

True

In [18]:
a=10
b=11
type(a==b)

bool

### Python Operators
* Operators are used to perform operations on the variables and it whole function is to compare the operands perfroms operations on it.Operators are classified into different types.
1. Arithmatic operators
2. Comparision operators.
3. Logical oprators
4. Identity operators.
5. Membership operators.
6. Assignment operators

1. __Arithmatic operators__

![""art"](https://www.engineeringbigdata.com/wp-content/uploads/python-arithmetic-operators.jpg)

__Examples__

In [19]:
# addition operation. "+"
a=5
b=10
add=a+b
print(add)

15

In [20]:
# subtraction operation "-"
sub=a-b
print(a-b)

-5

In [21]:
# Multiplication operation "*"
multipication=a*b
print(multipication)

50

In [22]:
# Division operation "/"
div=a/b
print(div)

0.5

In [23]:
# modulus operation "%"
modulus=a%b
print(modulus)

5

In [24]:
# Floor division "//"
floor=a//b
print(floor)

0

In [25]:
# Exponential operation "**"
pow=a**2+b**1
print(pow)

35

### Comparision operators
  * compares the variables if condition is satisfied it return True else False

!["comp"](https://icansoft.files.wordpress.com/2016/04/wp-1460931331587.gif)

In [26]:
# Less then
a=5
b=10
c=a<b
print("a is less than b is: ",c)

a is less than b is:  True

In [27]:
# less than or equal to
c = a<=b
print("a is less than or equal to b is: ",c)

a is less than or equal to b is:  True

In [28]:
# greater then
c=a>b
print("a is greater than b is: ",c)

a is greater than b is:  False

In [29]:
# equal to 
c=a==b
print("a is qual to b is : ",c)

a is qual to b is :  False

In [30]:
# not equal to
c=a!=b
print("a not equal to b is : ",c)

a not equal to b is :  True

### Logical operators
  * Logical operators are used to make  decisions based on conditional statements

!["log"]()

In [146]:
# AND operator
a=5
b=5
print((a!=b) and (a==b))

False

In [147]:
# OR operator
print((a==b) or (a==b))

True

In [148]:
# NOT operator
print(not (a==b))

False

### Assignment operators
* These operators are used to assign the values to the variables after certain operations.

In [135]:
# Add and assign
a=10
b=15
a+=b
print("a=a+b: ",a)

a=a+b:  25

In [136]:
# subtract and assign
a-=b
print("a=a+b: ",a)

a=a+b:  10

In [137]:
# multiply and assign
a*=b
print("a=a*b: ",a)

a=a*b:  150

In [138]:
# divide and assign
a/=b
print("a=a/b: ",a)

a=a/b:  10.0

In [139]:
# modulus and assign
a%=b
print("a=a%b :",a )

a=a%b : 10.0

In [140]:
# exponent and assign
a**=b
print("a=a**b: ",a)

a=a**b:  1000000000000000.0

In [141]:
# floor divison and assign
a=5
b=10
a//=b
print("a=a//b: ",a)

a=a//b:  0

### Identity operators
  * Identity operators compare the variable memory locations of two objects

!["iden"](https://i0.wp.com/makemeanalyst.com/wp-content/uploads/2017/06/Identity-Operators-Python.png?resize=532%2C136)

In [142]:
# is operator
a=5
b=5
a is b

True

In [143]:
id(a)

94848864668288

In [144]:
id(b)

94848864668288

In [145]:
# is not operator
a is not b

False

### Membership operators
  * It checks the variables present in the sequence of variable

!["mem"](https://i1.wp.com/makemeanalyst.com/wp-content/uploads/2017/06/Membership-Operator-in-python.png?resize=532%2C136)

In [130]:
# in operator
my_age=22
childrens_age=[10,15,12,18]
my_age in childrens_age

False

In [131]:
# not in operator
my_age not in childrens_age

True

### Data Structures
* Data structures are the collection of the data types which can store the data in the form of structure more precisely function and operations can be perform on the data.
  *  Lists.
  *  Tuples.
  *  Dictionaries

__Lists__
1. Lists are another kind of data types it stores the elements or items.
2. Lists are sequential and in order.
3. Lists are mutable.
4. list can be represents by square bracket. [ ]

In [47]:
# list can store numeric,boolean ,string data types
list_int=[1,2,3,5,6]
list_str=["python","java","C"]
list_bool=[True,False,True]

In [48]:
print(list_bool)

[True, False, True]

In [49]:
# Create List
fruits=["banana","Mango","apple","grapes","pine_apple"]

In [50]:
# built in function list()
fruit=list(("banana","Mango","apple","grapes","pine_apple"))
print(fruit)

['banana', 'Mango', 'apple', 'grapes', 'pine_apple']

__List Methods__

__append()__ method is used to adding the elements to list

In [51]:
# add elements to the list.
fruit=list(("banana","Mango","apple","grapes","pine_apple"))
fruit.append("guva")
print(fruit)

['banana', 'Mango', 'apple', 'grapes', 'pine_apple', 'guva']

__insert()__ method is used to insert elements at specified position.

In [52]:
# insert elements to the list.
fruit.insert(4,"orange")
print(fruit)

['banana', 'Mango', 'apple', 'grapes', 'orange', 'pine_apple', 'guva']

__extend()__ method adds the iterable elements to the list

In [53]:
# extends the elements
newfruit=list(("watermelon","kivy"))
newfruit

['watermelon', 'kivy']

In [54]:
fruit=list(("banana","Mango","apple","grapes","pine_apple"))
fruit.append(newfruit)
print(fruit)

['banana', 'Mango', 'apple', 'grapes', 'pine_apple', ['watermelon', 'kivy']]

In [55]:
fruit=list(("banana","Mango","apple","grapes","pine_apple"))
fruit.extend(newfruit)
print(fruit)

['banana', 'Mango', 'apple', 'grapes', 'pine_apple', 'watermelon', 'kivy']

__pop()__ method is used to remove the elements from list by specifying the position.

In [56]:
# adds iterable elements in the list
fruit=list(("banana","Mango","apple","grapes","pine_apple"))
print("original_fruit:",fruit)
fruit.pop(0)
print("Updated_fruit: ",fruit)

original_fruit: ['banana', 'Mango', 'apple', 'grapes', 'pine_apple']
Updated_fruit:  ['Mango', 'apple', 'grapes', 'pine_apple']

__count()__ method is used to count the repeatation of elements in the list

In [57]:
# count the elements
fruit=list(("banana","Mango","apple","grapes","pine_apple"))
fruit.count("apple")

1

__index()__ method is used to show the position of element

In [58]:
# shows the position of the element
fruit=list(("banana","Mango","apple","grapes","pine_apple"))
print("original_fruit:",fruit)
fruit.index("apple")

original_fruit: ['banana', 'Mango', 'apple', 'grapes', 'pine_apple']

2

__clear()__ method removes all the elements from the list

In [59]:
# clears the list
fruit=list(("banana","Mango","apple","grapes","pine_apple"))
fruit.clear()
print(fruit)

[]

__remove()__ methods removes elements from list by specifying the element name

In [60]:
# removes the element from list
fruit=list(("banana","Mango","apple","grapes","pine_apple"))
print("original fruit: ",fruit)
fruit.remove('Mango')
print("updated fruits; ",fruit)

original fruit:  ['banana', 'Mango', 'apple', 'grapes', 'pine_apple']
updated fruits;  ['banana', 'apple', 'grapes', 'pine_apple']

__reverse()__ reverse the list

In [61]:
# reverse the list
fruit=list(("banana","Mango","apple","grapes","pine_apple"))
print("original fruit: ",fruit)
fruit.reverse()
print("reversed fruits:" ,fruit)

original fruit:  ['banana', 'Mango', 'apple', 'grapes', 'pine_apple']
reversed fruits: ['pine_apple', 'grapes', 'apple', 'Mango', 'banana']

__sort()__ sort the integers elements from ascending to descending

In [62]:
# sorts the list
newlist1=[10,12,2,5,6,7,8]
print("original list: ",newlist1)
newlist1.sort()
print("sorted list:",newlist1)

original list:  [10, 12, 2, 5, 6, 7, 8]
sorted list: [2, 5, 6, 7, 8, 10, 12]

### Tuples
* Tuples are used to store the multiple elements
* Tuples are ordered.
* Tuples are unmutable.
* it can be represented by round brackets ( )

In [63]:
tuple_int=(1,2,3)
tuple_str=("milk","curd","ghee")
tuple_bool=(True,False)

__count()__ method count the elements in tuple

In [64]:
# counts the elements
tuple_numbers=(1,2,3,3,4)
tuple_numbers.count(3)

2

__index()__ method is used to know the index of elements

In [65]:
# shows the elements index
tuple_numbers=(1,2,3,3,4)
tuple_numbers.index(2)

1

In [66]:
# create new tuples 
tuple1=(1,2,3)
tuple2=(4,5)
tuple3=tuple(tuple1+tuple2)
print(tuple3)

(1, 2, 3, 4, 5)

## Type converstion
* tuple to list
* list to tuple

In [112]:
# convert tuple to list
tuple_1=("a","e","i")
new=list(tuple_1)
new

['a', 'e', 'i']

In [115]:
# modify
new.append("k")
new

['a', 'e', 'i', 'k', 'k']

In [114]:
# Convert list to tuple
tuple(new)

('a', 'e', 'i', 'k')

### Dictionaries.

* Dictionaries  are used to store the data typesin the form of pair(keys:values)
* Dictionaries are in order.
* Dictionaries are mutable.
* It can be representedd by flower brackets {}
* It can can store numeric,string ,bool data types.

In [70]:
# Create dictionaries buitin function
animals=dict(domestic=["Dog","cow","cat"],wild=["lion","tiger","wolf"])
print(animals)

{'domestic': ['Dog', 'cow', 'cat'], 'wild': ['lion', 'tiger', 'wolf']}

In [101]:
# create dictionaries through manually
animals={"domestic":["Dog","cow","cat"],"wild":["lion","tiger","wolf"]}
print(animals)

{'domestic': ['Dog', 'cow', 'cat'], 'wild': ['lion', 'tiger', 'wolf']}

__Dictionary Methods__

__copy()__ It copies the values of dictionary

In [73]:
new_animals=animals.copy()
print(new_animals)

{'domestic': ['Dog', 'cow', 'cat'], 'wild': ['lion', 'tiger', 'wolf']}

__items()__ It retuens the pair if values.

In [74]:
new_animals.items()

dict_items([('domestic', ['Dog', 'cow', 'cat']), ('wild', ['lion', 'tiger', 'wolf'])])

__keys()__ It returns only the object/variable from dictionaries.

In [76]:
new_animals.keys()

dict_keys(['domestic', 'wild'])

__values()__ it returns the values of objects/variables

In [77]:
new_animals.values()

dict_values([['Dog', 'cow', 'cat'], ['lion', 'tiger', 'wolf']])

__Clear()__ It clear the items in the dictionaries

In [80]:
new_animals.clear()
print(new_animals)

{}

__update()__ it adds the new item to the dictionaries

In [102]:
animal={"forest":"amazon"}
animal.update(animals)
print(animal)

{'forest': 'amazon', 'domestic': ['Dog', 'cow', 'cat'], 'wild': ['lion', 'tiger', 'wolf']}

__pop()__ removes the item from dictionaries

In [103]:
animal.pop("forest")
animal

{'domestic': ['Dog', 'cow', 'cat'], 'wild': ['lion', 'tiger', 'wolf']}

__get()__ returns the values of key

In [94]:
animal.get("domestic")

['Dog', 'cow', 'cat']

__popitem()__ it removes the last item from list

In [104]:
animal.popitem()
animal

{'domestic': ['Dog', 'cow', 'cat']}

__modify__ values

In [110]:
animal["domestic"]=['Dog', 'cow', 'cat','buffalo']
animal

{'domestic': ['Dog', 'cow', 'cat', 'buffalo']}